.form-control.ng-invalid.ng-dirty {
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.error-message {
    font-size: 16px;
    color: #b14042;
}

/*#region Dialogs */

.dialog-container {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #ccc /* fallback for old browsers */;
    background: rgba(204, 204, 204, .5);
}

.dialog-message {
    text-align: center;
    top: 50%;
    left: 50%;
    width: 25em;
    height: 5em;
    margin: -2em auto 0 -10em /* top is half of height and left is half of width*/;
    position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.6);
    padding: 8px 0px 0px 0px;
}

.dialog-accentText {
    font-size: 36px;
    font-family: "Segoe UI Light", "Segoe UI", Tahoma, Helvetica, Arial,sans-serif;
}

.dialog-image
{
    height: 90%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.dialog-image-caption
{
    text-align: center;
    width: 90%;
    margin: 0 5% 0 5% /* top is half of height and left is half of width*/;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.6);
    padding: 8px 0px 0px 0px;
}

/*#endregion */

.overflow-table {
  overflow-x: auto;
}

/*Overlaping overlap*/
.post img.image{
    background-position:center top;
	background-size:cover;
	background-repeat:no-repeat;
    width: 100%;
    height: 255px;
}
.post span.overlap{ position:relative; display:block; height:260px; width:100%; float:left; z-index:5;background-color: rgba(255,255,255, 0.8); }
.post span.overlap h6{ margin-top: 5px; margin-bottom: 2px;}
.post span.overlap p{ font-size: 16px; line-height: 1.2em; margin-top: 12px; margin-bottom: 10px;}

.post span.overlap input{color: #383838; }


