<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <h3>Administración de paquetes turísticos</h3>
    </div>
</div>
<div class="row" id="alertPanel" style="padding-top: 40px">
    <div id="infoPanel" class="alert alert-success alert-dismissible col-md-12" ng-if="InfoMessage.entitleSuccessMsg !== undefined">
        <div style="color: black !important; text-align: center">{{InfoMessage.entitleSuccessMsg}}</div>
    </div>
    <div id="errorPanel" class="alert alert alert-danger alert-dismissible col-md-12" ng-if="InfoMessage.entitleErrorMsg !== undefined" style="color:#710000;">
        <div style="color: black !important; text-align: center">{{InfoMessage.entitleErrorMsg}}</div>
    </div>
</div>
<div class="row" style="padding-top: 40px">
    <div class="col-md-2 col-md-offset-7">
        <button class="btn btn-default" ng-disabled="(paquetesTuristicosList.length) > 4" ng-click="addNewTuristPackage()">Añadir paquete <span ng-class="showLoadOptions === true ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'"></span></button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default" ng-click="showLinkForm()">Modificar link <span ng-class="showLinkConfig === true ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'"></span></button>
    </div>
</div>
<div ng-show="showLoadOptions">
    <div class="container">
        <div class="row">
            <h3>Agregar nuevo paquete</h3>
        </div>
        <form name="nuevoPaqueteForm" id="nuevoPaqueteForm" role="form" ng-submit="saveTuristPackage(nuevoPaqueteForm)" novalidate>
            <div class="row" style="padding-top: 40px">
                <div class="form-group col-md-5">
                    <label for="slctNewTipoDestino" class="control-label">Tipo Destino:</label>
                    <select ng-model="tipoDestino" id="slctNewTipoDestino" name="slctNewTipoDestino" ng-change="checkIfDestiniTypeExists(tipoDestino)" ng-options="ItemTipoDestino.Nombre for ItemTipoDestino in tiposDestinoList | orderBy: 'Nombre' " class="form-control" required
                            ng-class="{redBorderError: nuevoPaqueteForm.slctNewTipoDestino.$invalid && nuevoPaqueteForm.slctNewTipoDestino.$dirty}"></select>
                    <span class="tabValidation">*</span>
                    <span class="angularMsgError" ng-messages="nuevoPaqueteForm.slctNewTipoDestino.$error" ng-if="nuevoPaqueteForm.slctNewTipoDestino.$dirty">
                        <span ng-messages-include="mensajes-error"></span>
                    </span>
                </div>
                <div class="form-group col-md-5">
                    <label for="txtNewNombre" class="control-label">Nombre:</label>
                    <input type="text" id="txtNewNombre" name="txtNewNombre" ng-model="paqueteTuristico.Nombre" maxlength="50" class="form-control" required autocomplete="off"
                           ng-class="{redBorderError: nuevoPaqueteForm.txtNewNombre.$invalid && nuevoPaqueteForm.txtNewNombre.$dirty}" />
                    <span class="tabValidation">*</span>
                    <span class="angularMsgError" ng-messages="nuevoPaqueteForm.txtNewNombre.$error" ng-if="nuevoPaqueteForm.txtNewNombre.$dirty">
                        <span ng-messages-include="mensajes-error"></span>
                    </span>
                </div>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="form-group col-md-5">
                    <label for="txtNewDescripcion" class="control-label">Descripción:</label>
                    <input type="text" id="txtNewDescription" name="txtNewDescription" ng-model="paqueteTuristico.Descripcion" maxlength="200" class="form-control" autocomplete="off" required
                           ng-class="{redBorderError: nuevoPaqueteForm.txtNewDescription.$invalid && nuevoPaqueteForm.txtNewDescription.$dirty}" />
                    <span class="tabValidation">*</span>
                    <span class="angularMsgError" ng-messages="nuevoPaqueteForm.txtNewDescription.$error" ng-if="nuevoPaqueteForm.txtNewDescription.$dirty">
                        <span ng-messages-include="mensajes-error"></span>
                    </span>
                </div>
                <div class="form-group col-md-5">
                    <label for="fileImagenPaquete" class="control-label">Seleccionar imagen:</label>
                    <input type="file" ng-model="nuevoPaqueteImagen" class="form-control" id="myfile" name="myfile" base-sixty-four-input required accept=".jpg"
                           ng-class="{redBorderError: nuevoPaqueteForm.myfile.$invalid && nuevoPaqueteForm.myfile.$dirty}" />
                    <span class="tabValidation">*</span>
                    <span class="angularMsgError" ng-messages="nuevoPaqueteForm.myfile.$error" ng-if="nuevoPaqueteForm.myfile.$dirty">
                        <span ng-messages-include="mensajes-error"></span>
                    </span>
                </div>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="checkbox col-md-3" ng-if="!isExistPromotionalPackage">
                    <label class="control-label"><input type="checkbox" ng-model="paqueteTuristico.Promocionado" ng-change="checkPromotionalDestiny(paqueteTuristico.Promocionado)"/>¿Paquete promocional?</label>
                </div>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="checkbox col-md-3">
                </div>
                <div class="btn-group col-md-3 col-md-offset-4">
                    <button type="button" class="btn btn-lg btn-danger" ng-click="cancelPackage(nuevoPaqueteForm)">Cancelar</button>
                    <button type="submit" class="btn btn-lg btn-success" ng-disabled="disableSaved">Guardar paquete</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-show="showLinkConfig" class="container">
    <div class="row">
        <h3>Modificación de liga del globalizador</h3>
    </div>
    <div class="form-horizontal">
        <div class="row" style="padding-top: 40px">
            <div class="form-group">
                <div class="col-md-2">
                    <label class="control-label">Liga globalizador: <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Dejar vacio para mostrar 'Página en construcción'."></span></label>
                </div>
                <div class="col-md-5">
                    <input type="text" ng-model="rutaGlobalizador.Valor" class="form-control" placeholder="Ruta del globalizador" />
                </div>
            </div>
        </div>
        <div class="form-group" style="padding-top: 40px">
            <div class="col-md-5 btn-group">
                <button type="button" class="btn btn-success" ng-click="updateGlobLink()">Guardar cambios</button>
                <button type="button" class="btn btn-danger" ng-click="cancelShowLink()">Cancelar cambios</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row col-md-12" style="padding-top: 40px">
        <div class="col-md-10" style="border-style:ridge; padding-bottom: 20px; margin-bottom: 10px" ng-repeat="paqueteItem in paquetesTuristicosList">
            <div class="row">
                <div ng-if="!paqueteItem.Promocionado" class="col-md-6 col-md-offset-3">
                    <h3>Destino {{paqueteItem.TipoDestino}}</h3>
                </div>
                <div ng-if="paqueteItem.Promocionado" class="col-md-9 col-md-offset-3">
                    <h3>Paquete Promocional <span class="glyphicon glyphicon-star-empty pull-right"></span></h3>
                </div>
                <br />
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img ng-src="data:image/jpeg; base64, {{paqueteItem.Imagen}}" class="img-thumbnail" />
                </div>
                <div class="col-md-9">
                    <label class="control-label">Nombre:</label> {{paqueteItem.Nombre}}<br />
                    <label class="control-label">Descripción:</label> {{paqueteItem.Descripcion}}<br /><br />
                    <button type="button" data-toggle="modal" data-target="#playaModal" ng-click="retrievePackageId(paqueteItem)" class="btn btn-lg btn-primary">Modificar paquete turístico</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="playaModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Modificación de paquete turístico</h3><br />
                    <h4 class="modal-title" ng-if="!selectedPackage.Promocionado">Destino {{selectedPackage.TipoDestino}}</h4>
                    <h4 class="modal-title" ng-if="selectedPackage.Promocionado">Paquete Promocional</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 form-group">
                            <label class="control-label" for="updateNamePackage">Nombre:</label>
                            <input type="text" id="updateNamePackage" ng-model="updatePaqueteNombre" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 form-group">
                            <label class="control-label" for="updateDescPackage">Descripción:</label>
                            <input type="text" id="updateDescPackage" ng-model="updatePaqueteDescripcion" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 form-group">
                            <label class="control-label" for="updateImagePackage">Imagen:</label>
                            <input type="file" id="updateImagePackage" ng-model="updatePaqueteImagen" class="form-control" base-sixty-four-input accept=".jpg" />
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="btn-group col-md-6">
                            <button type="button" class="btn btn-success" ng-click="updatePackage()">Guardar Cambios</button>
                            <button type="button" id="btnCancelUpdate" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<script>
    $(document).ready(function () {
    });
</script>
