<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Reporte Dinámico</h3>
    </div>
</div>
<div class="row" id="alertPanel" style="padding-top: 40px">
    <div id="infoPanel" class="alert alert-success alert-dismissible col-md-12" ng-if="InfoMessage.entitleSuccessMsg !== undefined">
        <div style="color: black !important; text-align: center">{{InfoMessage.entitleSuccessMsg}}</div>
    </div>
    <div id="errorPanel" class="alert alert alert-danger alert-dismissible col-md-12" ng-if="InfoMessage.entitleErrorMsg !== undefined" style="color:#710000;">
        <div style="color: black !important; text-align: center">{{InfoMessage.entitleErrorMsg}}</div>
    </div>
</div>
<form name="reporteDinamicoForm" id="reporteDinamicoForm" role="form" ng-submit="getDynamicReport(reporteDinamicoForm)" novalidate>
    <div class="row" style="padding-top: 40px">
        <div class="form-group ui-datepicker-group col-md-5 col-md-offset-1">
            <label for="dateDynamicStart" class="control-label">Fecha Inicio:*</label>
            <div class="input-group">
                <span class="input-group-addon" id="initialCalendar"><span class="glyphicon glyphicon-calendar"></span></span>
                <input type="text" placeholder="Selecciona fecha" class="form-control" ng-model="dateDynamicInitial" id="dateDynamicStart" name="dateDynamicStart" required autocomplete="off"
                       ng-class="{redBorderError: reporteDinamicoForm.dateDynamicStart.$invalid && reporteDinamicoForm.dateDynamicStart.$dirty}" aria-describedby="initialCalendar" ng-change="checkInitalDate(dateDynamicInitial)" ng-pattern="regularExpressionDate"/>
            </div>
            <span class="tabValidation">*</span>
            <span class="angularMsgError" ng-messages="reporteDinamicoForm.dateDynamicStart.$error" ng-if="reporteDinamicoForm.dateDynamicStart.$dirty">
                <span ng-messages-include="mensajes-error"></span>
            </span>
        </div>
        <div class="form-group ui-datepicker-group col-md-5">
            <label for="dateDynamicEnd" class="control-label">Fecha Fin:*</label>
            <div class="input-group">
                <span class="input-group-addon" id="finalCalendar"><span class="glyphicon glyphicon-calendar"></span></span>
                <input type="text" placeholder="Selecciona fecha" class="form-control" ng-model="dateDynamicFinal" id="dateDynamicEnd" name="dateDynamicEnd" required autocomplete="off"
                       ng-class="{redBorderError: reporteDinamicoForm.dateDynamicEnd.$invalid && reporteDinamicoForm.dateDynamicEnd.$dirty}" aria-describedby="finalCalendar" ng-change="checkFinalDate(dateDynamicFinal)" ng-pattern="regularExpressionDate"/>
            </div>
            <span class="tabValidation">*</span>
            <span class="angularMsgError" ng-messages="reporteDinamicoForm.dateDynamicEnd.$error" ng-if="reporteDinamicoForm.dateDynamicEnd.$dirty">
                <span ng-messages-include="mensajes-error"></span>
            </span>
        </div>
    </div>
    <div class="row" style="padding-top: 60px">
        <div>*Campos obligatorios</div>
        <div class="form-group col-md-2 col-md-offset-9">
            <button type="submit" id="btnDynamicReport" class="btn btn-lg btn-success">Generar reporte</button>
        </div>
        <div id="lista" filename="'Reporte_Dinamico'" ng-json-export-excel data="lista" report-fields="{Destino: 'Destino', TemporadaVacacional: 'Temporada Vacacional', Viaje: 'Viaje', Motivo: 'Motivo', Nombre: 'Nombre', Lada: 'Lada', Telefono: 'Telefono', CorreoElectronico: 'Correo Electronico' ,Genero:'Género', Edad:'Edad', Estado:'Estado', Derechohabiente: 'Derechohabiente', Afiliacion: 'Afiliacion', RecibirInformacion: 'Recibir Informacion'}" separator=",">
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {

        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };

        $.datepicker.setDefaults($.datepicker.regional['es']);

        $('#dateDynamicStart').datepicker({
            maxDate: '0'
        });

        $('#dateDynamicEnd').datepicker({
            maxDate: '0'
        });       
    });
</script>