<div class="row" style="padding-top: 40px">
    <div class="col-md-3 col-md-offset-4 text-center">
        <button type="button" class="btn btn-lg btn-primary" id="btnReporteEstatico" ng-click="redirectToStatic()">Reporte estático</button>
    </div>
</div>
<div class="row" style="padding-top: 40px">
    <div class="col-md-3 col-md-offset-4 text-center">
        <button type="button" class="btn btn-lg btn-primary" id="btnReporteDinamico" ng-click="redirectToDinamyc()">Reporte dinámico</button>
    </div>
</div>