<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="authorizeRoles" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--<authorizeRoles>
    <add key="AllAdminRoles" value="Administrador de Servicios de Atención al Derechohabiente" />
    <add key="ManagementRoles" value="Operador delegacional" />
    <add key="AgentRoles" value="Jefe de operaciones (Agencia Funeraria)" />
    <add key="IndicatorsRoles" value="Gestión de procesos" />
  </authorizeRoles>-->
  <authorizeRoles>
    <add key="AllAdminRoles" value="Administrador Ofertas" />
    <add key="ManagementRoles" value="Consultor Estadisticas" />
    <add key="AgentRoles" value="Operador" />
    <add key="IndicatorsRoles" value="Gestión de procesos" />
  </authorizeRoles>
  <connectionStrings>
    <add name="TramitesDigitalesEntities" connectionString="metadata=res://*/Contextos.PeticionesWeb.csdl|res://*/Contextos.PeticionesWeb.ssdl|res://*/Contextos.PeticionesWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.81;initial catalog=TramitesDigitales;user id=tdsad;password=Td$@D_%7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TramitesDigitalesConnectionString" connectionString="Data Source=192.168.2.81;Initial Catalog=TramitesDigitales;User ID=tdsad;Password=Td$@D_%7;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TurisssteEntities" connectionString="Data Source=192.168.2.81;Initial Catalog=TurisssteDev;User=tdsad;Password=Td$@D_%7" providerName="System.Data.SqlClient" />
    <add name="IdentityConnection" connectionString="Data Source=192.168.2.81;Initial Catalog=TurisssteDev;User=tdsad;Password=Td$@D_%7" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Event Log-->
    <add key="LogSource" value="ISSSTE.Tramites2015.Turissste" />
    <add key="LogName" value="Issste" />
    <add key="LogPriority" value="Information" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Valores válidos por importancia decendente: Error, Warning, Information, SuccessAudit, FailureAudit-->


    <!--Configuracion Seguridad (TD) 2.81 TD Turissste-->
    <add key="ClientId" value="web" />
    <add key="ProcedureId" value="9D7E2EF7-A0C3-49DA-859C-10FAA82450A8" />
    <add key="Secret" value="49C2FC46-7287-4EFA-AD67-CD037A0E24DB" />
    <add key="CookieName" value="ISSSTE.TramitesDigitales2015.Turissste" />
    <add key="TokenTimeoutMinutes" value="30" />

    <!--Configuracion Seguridad (TD) 25.225-->
    <!--<add key="ClientId" value="web" />
    <add key="ProcedureId" value="083b5bc5-c5ea-49e3-9307-4faa48277054" />
    <add key="Secret" value="49C2FC46-7287-4EFA-AD67-CD037A0E24DB" />
    <add key="CookieName" value="ISSSTE.TramitesDigitales.PeticionesWeb" />
    <add key="TokenTimeoutMinutes" value="30" />-->

    <!--Configuración del proveedor de seguridad Owin del ISSSTE 2.81-->

    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Client.TokenUrl" value="http://192.168.2.81/IsssteSeguridad2015/token" />
    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Client.LoginUrl" value="http://192.168.2.81/IsssteSeguridad2015/login" />
    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Client.LogoutUrl" value="http://192.168.2.81/IsssteSeguridad2015/logout" />
    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Server.WSBaseUrl" value="http://192.168.2.81/IsssteSeguridad2015/" />
    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Server.TokenValidationUrl" value="http://192.168.2.81/IsssteSeguridad2015/api/auth/validate" />

    <!--Configuración del proveedor de seguridad Owin del ISSSTE 25.225-->

    <!--<add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Client.TokenUrl" value="http://192.168.25.225/IsssteSeguridad2015/token" />
    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Client.LoginUrl" value="http://192.168.25.225/IsssteSeguridad2015/login" />
    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Client.LogoutUrl" value="http://192.168.25.225/IsssteSeguridad2015/logout" />
    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Server.WSBaseUrl" value="http://192.168.25.225/IsssteSeguridad2015/" />
    <add key="ISSSTE.Tramites2015.Common.Security.Owin.Constants.Server.TokenValidationUrl" value="http://192.168.25.225/IsssteSeguridad2015/api/auth/validate" />-->


    <!--WS de Informix (Afiliación y Vigencia)-->
    <!--<add key="InformixWSBaseUrl" value="http://192.168.230.241:27850/" />-->
    <!--<add key="InformixWSBaseUrl" value="http://201.140.80.95/wsissste2015/" />-->
    <add key="InformixWSBaseUrl" value="http://192.168.2.81/wsIssste2015/" />
    <!--<add key="InformixWSBaseUrl" value="http://192.168.2.31/wsIssste2015/" />-->
    <add key="InformixWSTokenPath" value="token" />
    <add key="InformixWSUserName" value="user" />
    <add key="InformixWSPassword" value="password" />

    <add key="InformixWSEntitle" value="api/sipeav/entitles/{0}" />
    <add key="InformixWSEntitleByRfc" value="api/sipeav/entitles/?rfc={0}" />
    <add key="InformixWSEntitleByCurp" value="api/sipeav/entitles?curp={0}" />

    <add key="InformixWSBeneficiaries" value="api/sipeav/entitles/{0}/beneficiaries" />
    <add key="InformixWSRelatives" value="api/sipeav/entitles/{0}/relatives" />
    <add key="InformixWSLaboralHistory" value="api/sipeav/entitles/{0}/laboralhistory" />
    <add key="InformixWSRegimen" value="api/sipeav/entitles/{0}/regimen" />

    <add key="OtorgamientoUrl" value="http://192.168.56.15:9292/OtorgamientoWEB-TEST/simulacion.htm?turismo={0}&amp;action={1}&amp;numissste={2}" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="20480" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <!--Si se desea recibir archivos más grandes que el default (28.6MB), ajustar este parametro (en bytes)-->
        <!--<requestLimits maxAllowedContentLength="30000000" />-->
      </requestFiltering>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="microsoft.codedom.providers.dotnetcompilerplatform.csharpcodeprovider, microsoft.codedom.providers.dotnetcompilerplatform, version=1.0.0.0, culture=neutral, publickeytoken=31bf3856ad364e35" warninglevel="4" compileroptions="/langversion:5 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="microsoft.codedom.providers.dotnetcompilerplatform.vbcodeprovider, microsoft.codedom.providers.dotnetcompilerplatform, version=1.0.0.0, culture=neutral, publickeytoken=31bf3856ad364e35" warninglevel="4" compileroptions="/langversion:14 /nowarn:41008 /define:_mytype=\&quot;web\&quot; /optioninfer+" />
    </compilers>
  </system.codedom>-->
</configuration>