@model ISSSTE.TramitesDigitales2015.Turissste.Presentacion.Models.LoginCompleteViewModel
@{
    ViewBag.Title = "Inicio de sesión exitoso";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div data-ng-controller="loginController as vm" data-ng-init="vm.login('@Model.UserName', '@Model.ReturnUrl','@Model.ClientId')">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/administrator/app/login")
}
