@{
    ViewBag.Title = "Error al iniciar sesión";
    //Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
    Layout = "~/Views/Shared/_LayoutAdminTurissste.cshtml";
}
<div class="container">
    <h2></h2>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <strong>¡Ups, algo salio mal! </strong>
        <br /><br />
        <span>Tuvimos un problema para poder inciar sesión correctamente, cerraremos tu sesión y despues volveras a la pagina de inicio.</span><br />
        <span>Si este problema persiste comunicate con tu administrador del sistema.</span>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/administrator/app/login")

    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                window.location.replace('@Url.Action("Logout", "Account", new { returnUrl = Url.Action("Index", "Administrator", null, Request.Url.Scheme) }, null)');
            }, 4000);
        })
    </script>
}