<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>
    <!--WS de Informix-->
    <add key="  " value="http://192.168.2.31/wsissste2015/" />
    <add key="InformixWSTokenPath" value="token" />
    <add key="InformixWSUserName" value="user" />
    <add key="InformixWSPassword" value="password" />

    <add key="InformixWSMortuariesInfo" value="api/sirvel/mortuaries/{0}" />
    <add key="InformixWSMortuaryInfo" value="api/sirvel/mortuary/{0}" />
    <add key="InformixWSProductsInfo" value="api/sirvel/products/{0}" />
    <add key="InformixWSStatesInfo" value="api/sirvel/states" />
    <add key="InformixWSTypesProductsInfo" value="api/sirvel/productstypes" />
    <add key="InformixWSProductInfo" value="api/sirvel/product/{0}/{1}" />

    <add key="InformixWSEntitle" value="api/sipeav/entitles/{0}" />
    <add key="InformixWSEntitleByRfc" value="api/sipeav/entitles/{0}" />
    <add key="InformixWSEntitleByCurp" value="api/sipeav/entitles?curp={0}" />

    <add key="InformixWSBeneficiaries" value="api/sipeav/entitles/{0}/beneficiaries" />
    <add key="InformixWSBeneficiariesCI" value="api/sipeav/entitles/{0}/beneficiariesCI" />
    <add key="InformixWSRelatives" value="api/sipeav/entitles/{0}/relatives" />
    <add key="InformixWSLaboralHistory" value="api/sipeav/entitles/{0}/laboralhistory" />
    <add key="InformixWSRegimen" value="api/sipeav/entitles/{0}/regimen" />

    <!--Configuración de Estancias-->
    <add key="YearsMax" value="6" />
    <add key="YearsMin" value="0" />
    <add key="MonthMax" value="2" />
    <add key="MonthMin" value="1" />
    <add key="DaysMax" value="1" />
    <add key="MaxMonthsBeforeNextYear" value="11" />

    <!--Configuracion de Renapo-->
    <add key="Usuario" value="WS342001" />
    <add key="Password" value="GELO3412" />
    <add key="Ip" value="192.168.217.147" />
    <add key="EntidadEmisora" value="DF" />
    <add key="UseRenapo" value="0" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConsultaPorCurpServiceSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="ConsultaPorCurpServiceSoap11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ConsultaPorCurpServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://webs.curp.gob.mx:443/WebServicesConsulta/services/ConsultaPorCurpService.ConsultaPorCurpServiceHttpsSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="ConsultaPorCurpServiceSoap11Binding" contract="RenapoService.ConsultaPorCurpServicePortType" name="ConsultaPorCurpServiceHttpsSoap11Endpoint" />
      <endpoint address="https://webs.curp.gob.mx:443/WebServicesConsulta/services/ConsultaPorCurpService.ConsultaPorCurpServiceHttpsSoap12Endpoint/" binding="customBinding" bindingConfiguration="ConsultaPorCurpServiceSoap12Binding" contract="RenapoService.ConsultaPorCurpServicePortType" name="ConsultaPorCurpServiceHttpsSoap12Endpoint" />
    </client>
  </system.serviceModel>
</configuration>