<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\app\TD TUR\ISSSTE.TramitesDigitales2016.PeticionesWeb.Presentacion.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>TDTurissste2015</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ISSSTE.TramitesDigitales2015.Turissste.Presentacion.Models.ApplicationDbContext, ISSSTE.TramitesDigitales2016.PeticionesWeb.Presentacion" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ISSSTE.Tramites2015.Common.Security.Identity.IsssteIdentityDbContext, ISSSTE.Tramites2015.Common.Security" MigrationConfiguration="ISSSTE.Tramites2015.Common.Security.Migrations.Configuration, ISSSTE.Tramites2015.Common.Security" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TramitesDigitalesConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.2.81;Initial Catalog=TramitesDigitales;User ID=tdsad;Password=Td$@D_%7;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TramitesDigitalesConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.2.81;Initial Catalog=TramitesDigitales;User ID=tdsad;Password=Td$@D_%7;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TramitesDigitalesEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.2.81;Initial Catalog=TramitesDigitales;User ID=tdsad;Password=Td$@D_%7;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TramitesDigitalesEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Contextos.PeticionesWeb.csdl|res://*/Contextos.PeticionesWeb.ssdl|res://*/Contextos.PeticionesWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.81;initial catalog=TramitesDigitales;user id=tdsad;password=Td$@D_%7;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TurisssteEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.2.81;Initial Catalog=TurisssteDev;User ID=tdsad;Password=Td$@D_%7" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TurisssteEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.2.81;Initial Catalog=TurisssteDev;User=tdsad;Password=Td$@D_%7" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TramitesDigitalesConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TramitesDigitalesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TurisssteEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>